body {
  margin: 0;
  max-height: 100%;
}

ul {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  max-height: 100%;
}

.main {
  position: absolute;
  width: 100%;
}

/* media queries */
@media (max-width: 768px) {
  .main {
    top: 60px;
  }
}
